@charset "UTF-8";

/* ================ ボタン(footer) ================ */
.footer {
	border: 1px solid #000;
    border-radius: 0;
    background: #fff;
	text-align: center;
	position: fixed;
	font-size: 13px;
	margin-top: 20px;
	padding: 5px;
	justify-content: center;
}

/*.footer__button {*/
	
/*}*