@charset "UTF-8";

/* ================ ボタン(footer) ================ */
.footer {
	border: 0;
	border-radius: 5px;
	text-decoration: none;
	/*  background: rgb(0, 128, 128);*/
	color: #fff;
	padding: 8px 16px;
	margin-top: 10px;
	font-size: 16px;
	cursor: pointer;
	background: linear-gradient(to bottom, #00acee, rgb(0, 128, 128));
}

/*.footer__button {*/
	
/*}*