@charset "UTF-8";

/* 共通スタイルは外に書く */

.main {
	display: flex;
	justify-content: center;
	max-width: 100%;
	padding-top: 30px;
	margin-bottom: 50px;
	width: 100%;
}

/* ================ エラーメッセージ ================ */
.err {
	color: red;
}

/* ================ 入力フォーム ================ */
.main__textBox {
	background-color: white;
	padding: 8px 16px;
}




/* ================ ボタン ================ */
.main__button {
	border: 0;
	border-radius: 5px;
	text-decoration: none;
	/*  background: rgb(0, 128, 128);*/
	color: #fff;
	padding: 8px 16px;
	margin-top: 10px;
	font-size: 16px;
	cursor: pointer;
	background: linear-gradient(to bottom, #00acee, rgb(0, 128, 128));
	/*   display: -webkit-flex;*/
	/*    display: flex;*/
}

.main__button:hover {
	background: #1d49aa;
	border: 0;
	border-radius: 5px;
	text-decoration: none;
	/*  background: rgb(0, 128, 128);*/
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
	cursor: pointer;
	background: linear-gradient(to bottom, #00acee, rgb(0, 128, 128));
}

.main__searchButton {
	padding: 40px;
}

/* ================ 勤怠一覧 ================ */

.main__search {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.main__listTitle {
	margin-left: 15%;
}


th {
	border: 1px solid #000;
}

.td {
	table-layout: fixed;
	width: 100%;
}

.td{
	padding-bottom: 5px;
}

.main__box {
	padding-top: 20px;
}

table td {
	background: #eee;
}

table tr:nth-child(odd) td {
	background: #fff;
}